
/**
 *  root
 */
:root {
    --text-color: #333;
    --text-secondary-color: #333;

    --background-color: #fff;
    --secondary-color: color(#333 alpha(-30%));

    --padding-bottom: 10px;

    --margin-top: 20px;

    --white-link: {
        padding-bottom: 5px;

        font-size: 1.3rem;
        font-weight: 500;

        color: var(--text-secondary-color);
        text-decoration: none;

        transition: border-color .5s;
        border-bottom: 2px solid transparent;
    }

    --white-link-hover: {
        color: color( var(--text-secondary-color) alpha(-10%));
        border-bottom: 2px solid var(--text-secondary-color);
    }

    --background: {
        background-repeat: no-repeat;
        background-position: center center;
    }
}

* {
    box-sizing: border-box;
}

/**
 *  Golbal
 */
html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;

    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    @apply --white-link;
    font-size: inherit;
}

a:hover {
    @apply --white-link-hover;
}

/**
 *  Golbal: tooltip
 */
.tooltip {
    position: relative;
    width: 100%;
    cursor: pointer
}

.tooltip:hover:after,.tooltip:hover:before {
    transition: opacity 1s ease;
    opacity: 1
}

.tooltip:after {
    position: absolute;

    content: attr(data-tooltip);

    left: -65px;
    bottom: 35px;

    padding: 10px;

    width: 200px;

    color: #fff;

    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;

    color: rgba(255, 255, 255, .7);
    background-color: rgba(50, 50, 50, 1);

    pointer-events: none;
    border-radius: 2px;
    opacity: 0;
}

/**
 *  Header
 */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    font-size: 2.2rem;
    font-weight: 800;
}

.header h1 span {
    font-weight: 300;
}

.header .avatar {
    display: block;

    margin-top: 150px;

    width: 100px;
    height: 100px;

    border-radius: 50%;

    @apply --background;
    background-image: url( '../icons/avatar.jpg' );
}

.header .desc {
    font-size: 1.5rem;
    font-weight: 300;
}

/**
 *  Navigate
 */
.navigate {
    margin-top: var(--margin-top);
}

.navigate a {
    font-size: 1.5rem;
    font-weight: inherit;
}

/**
 *  Cotact
 */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: var(--margin-top);

    list-style: none;
}

.contact li {
    padding-left: 25px;
}

.contact li:last-child {
    padding-right: 25px;
}

.contact li span {
    display: block;

    width: 24px;
    height: 24px;

    @apply --background;

    opacity: .5;
    transition: opacity .5s;
}

.contact li span:hover {
    opacity: 1;
}

.contact li span.github {
    background-image: url( '../icons/github.png' );
}
.contact li span.twitter {
    background-image: url( '../icons/twitter.png' );
}
.contact li span.weibo {
    background-image: url( '../icons/weibo.png' );
}
.contact li span.douban {
    background-image: url( '../icons/douban.png' );
}
.contact li span.zhihu {
    background-image: url( '../icons/zhihu.png' );
}
.contact li span.jianshu {
    background-image: url( '../icons/jianshu.png' );
}
.contact li span.more {
    background-image: url( '../icons/more.png' );
}

/**
 *  Project
 */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .project {
    margin-top: var(--margin-top);
    max-width: 900px;
}

.projects .project .banner {
    display: inline-block;
    position: relative;

    width: 800px;
    height: 310px;

    cursor: pointer;
    vertical-align: top;
    overflow: hidden;

    border: 5px solid #fff;
    box-shadow: 0 0 5px #ddd;
}

.projects .project .banner img {
    transition: all 0.5s linear;
    transform: scale3d(1, 1, 1);
}

.projects .project .banner img:hover {
    transform: scale3d(1.2, 1.2, 1);
}

.projects .project .desc {
    font-size: 1.4rem;
    font-weight: 400;
}

.projects .project .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
}

.projects .project .tags li {
    margin: 4px;
    padding: 0 12px;

    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;

    color: inherit;
    background-color: rgb(224, 224, 224);

    border-radius: 16px;
}

.projects .project .tags li a {
    border-bottom: none;
    transition: all .5s;
}

.projects .project .tags li a:hover {
    color: var(--background-color);
    border-bottom: none;
}

/**
 *  About
 */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .introduce {
    margin: 2rem 0;
    padding-left: 20px;

    width: 800px;

    font-size: 1.5rem;
    line-height: 2.2;

    text-align: left;
    border-left: 4px solid #42b983;
}

.about .article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about .article a {
    padding-bottom: 1px;

    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2;
}

/**
 *  Footer
 */
.footer {
    margin: var(--margin-top) 0;
}

/**
 *  Mobile
 */
@media (min-width: 320px) and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 10px;
    }

    b, a {
        font-size: inherit;
        font-weight: inherit;
    }

    .header .avatar {
        margin-top: 10px;
    }

    .projects {
        zoom: .5;
    }

    .about {
        zoom: .5;
    }

    .about img {
        zoom: .9;
    }

    .header,
    .about .introduce {
        zoom: .7;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    body {
        zoom: .9;
    }
}
